
/* Styling the individual cells */
.gameCell {

	width: 3rem;
	height: 3rem;
	
	/* Border-radius 100% makes it fully round */
	border-radius: 100%;
	background: #13469E;

	/* This margin is used to equally separate between other game cells */
	margin: 7px 7px 7px 7px;
	cursor: pointer;
}

/* Styling the rows of the game */
#connectFour > div {
	background: #165AD6;

	/* Prevent the game from stretching out to an incredibly large size */
	max-width: 50rem;
	border-radius: 0.45rem;
}